*{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
#checkout{
    margin-left: 20px;
    background-color: #ffd699;
}

.isles{
    padding: 20px;
    background: #ffebcc;
    width: 150px;
    text-align: center;
    margin: 10px;
    font-size: 20px;  
    border-radius: 10px;
}

.labels{
  display: flex;
   justify-content: center;
   
}
.label{
    background-color: #f5f5da;
    width:154px;
    border-width: 2px;
    font-size: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-style:solid;
    border-color:black;
    opacity: .9;
    justify-self: center;
}

 .cartLabel, .rows{
    background-color: #f5f5da;
    width:133px;
    opacity: .8;
    padding: 10px;
    border-width: 2px;
    font-size: 17px;
    border-style:solid;
    border-color:black;

}
.cartLabel{
    background-color: #f5f5da;
    font-size: 20px;
}




#cart{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}
.adder{
    width: 150px;
    padding: 10px;
    background:blanchedalmond;
    border-width: 2px;
    border-style:double;
    border-color: black;
    margin-bottom: 20px;
    margin-top:10px;

}
.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#bodyContainer{
    display:none;
}

.header{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 140px;
    background-image: url('file:///Users/harveengrewal/Downloads/bannerstart.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    border-width: 20px;
    border-style: groove;
    border-color: #f5f5da;
    opacity: .8;
}
#gcTitle{
    font-size: 120px;
    text-align: center;
    text-anchor: middle;
}

.cartLabels{
    width:100%;
    font-size: x-large;
    background-color: #e5f5da;
    border-width: 10px;
    border-style: groove;
    border-color: #e5f5da;
    padding:10px;
    margin-bottom: 10px;
    margin-top: 10px;
}
#cartEditHidden{
    display:none;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 900;

}
#goAdmin{
    padding: 5px;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}
#buttonRight{
    display: flex;
    justify-content: right;
}