#invoice-POS{
    box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
    padding:2mm;
    margin: 0 auto;
    width: 130mm;
    background: #FFF;
    
}
    /* #invoice-POS::selection {background: #f31544; color: #FFF;}
    #invoice-POS ::moz-selection {background: #f31544; color: #FFF;} */
  h1{
    font-size: 1.5em;
    color: #222;
  }
  h2{font-size: .8em;}
  h3{
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
  }
  p{
    font-size: .8em;
    color: grey;
    line-height: 1.2em;
  }
   
  #top, #mid,#bot{ /* Targets all id with 'col-' */
    border-bottom: 1px solid blanchedalmond;
  }
  
  #top{min-height: 100px;}
  #mid{min-height: 40px;
  } 
  #bot{ min-height: 50px;}
  
  #top {
    float: center;
      background-image: url('file:///Users/harveengrewal/Downloads/bannerstart.jpeg');
      background-repeat: no-repeat;
      background-size: cover;
  }

  .info{
    display: block;
    float:center;
    margin-left: 0;
  }
  .title{
    float: center;
  }
  .title p{text-align: right;} 
  table{
    width: 100%;
    border-collapse: collapse;
  }
  td{ 
    padding: 5px 0 5px 15px;
    border: 1px solid #ffe0b3;
  }
  .tabletitle{
    padding: 5px;
    /* font-size: .5em; */
    background: #ffe0b3;
    text-align: center;
  }
  .service{border-bottom: 1px solid #ffe0b3;}
  .item{width: 50mm;}
  .itemtext{font-size: .8em;}
  
  #legalcopy{
    margin-top: 5mm;
  }
  
 #mainTitle{
  font-size: 40px;
 }
 a{
  text-decoration: none;
  color: black;
  background-color: #ffe0b3;
  font-weight: 900;
  width: 100px;
  height: 50px;
  border-width: 2px;
  border-radius: 10px;
  border-style:solid;
  padding: 5px;
  margin:10px;



}
  